.alphascroll {
	color: #666;
	text-shadow: none;
	list-style: none;
	position: fixed;
	right: 34%;
	z-index: 0;
	font-size: 1.5vw;
	font-weight: bold;
	border-radius: 24px;
	padding: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alphascroll:active {
	background-color: rgba( 0, 0, 0, 0.4);
	color: #fff;
	outline-width: 0;
}
.alphascroll li {
	display: block;
	width: 1em;
	text-align: center;
	line-height: 25px;
	z-index: 2;
}
