<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="directory" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="directory" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="directory" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="directory" class="no-js"> <!--<![endif]-->
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ building.name }} {% if building.description %}| {{ building.description }} {% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'app/app.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/keyboard.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'weather-icons-master/css/weather-icons.css' %}">
  <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body ng-controller="DirectoryCtrl as directory">

  <div class="container-fluid">
    <div class="full-height row">
      <div class="full-height tabs-column col-md-2 right-shadow">
        <div class="row">
          <div class="text-center col-md-12">
            <p>
              <h1>{{ building.name }}<br /> Directory</h1>
            </p>
          </div>
        </div>

        <div ui-sref-active="active-tab" class="row">
          <a ui-sref="all.nobodySelected">
            <div class="text-center col-md-12">
              <h2>ALL</h2>
            </div>
          </a>
        </div>

        {% for group in groups %}
        <div ui-sref-active="active-tab" class="row">
          <a ui-sref="group.nobodySelected({ groupId: {{ group.group_id }} })">
            <div class="text-center col-md-12">
              <h2>{{ group.name }}</h2>
            </div>
          </a>
        </div>
        {% endfor %}

        <!-- TODO: check that maps exist -->
        {% verbatim %}
        <div class="row maps-row" ng-click="directory.openMap()">
          <div class="open-map col-md-12">
            <button type="button" class="btn btn-primary btn-lg btn-danger btn-block">MAP</button>
          </div>
        </div>
        {% endverbatim %}
      </div>

      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="full-height col-md-10" ui-view></div>

    </div>
  </div>

  {% verbatim %}
  <!-- map code, starts-->
  <div class="map-container" ng-show="directory.mapOpen()">
  {% endverbatim %}

    <div class="map">
      <div class="text-right">
        {% for map in maps %}
        <div ng-class="{ active: directory.floorIsSelected({{ map.floor_number }})}" class="clickable map-button" ng-click="directory.selectFloor({{ map.floor_number }})">
          {{ map.floor_number }}
        </div>
        {% endfor %}
        <div class="clickable exit-map-button map-button" ng-click="directory.closeMap()">
        x
        </div>
      </div>

      {% for map in maps %}
        <div ng-show="directory.floorIsSelected({{ map.floor_number }})">
          <img class="img-responsive" src="{{ map.image }}">
        </div>
      {% endfor %}

    </div>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
  <script src="{% static 'app/group/group.js' %}"></script>
  <script src="{% static 'app/person/person.js' %}"></script>
  <script src="{% static 'app/info/info.js' %}"></script>
  <script src="{% static 'app/app.js' %}"></script>
</body>
</html>