<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" ng-app="directory.info" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" ng-app="directory.info" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" ng-app="directory.info" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en" ng-app="directory.info" class="no-js"> <!--<![endif]-->
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ building.name }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/html5-boilerplate/css/main.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'app/app.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid screensaver" ng-controller="InfoCtrl as info">
    <div class="row welcome">
      <div class="text-center col-md-12">
          <p style="font-size:5vw">
            welcome to
          </p>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-md-12">
          <p style="font-size:8vw;font-weight:bold">
            {{ building.name | upper }}
          </p>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-md-12">
        <p p style="font-size:2vw">
          {% if building.description %}
            {{ building.description | upper }}
          {% endif %}
        </p>
      </div>
    </div>

    {% verbatim %}
    <div class="row welcome-icons">

      <div class="text-center col-md-4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-calendar fa-stack-1x"></i>
        </span>
        <br>
        <p>
          {{ info.date | date:'EEEE'}}<br />
          {{ info.date | date:'MMMM d, yyyy'}}</p>
      </div>

      <div class="text-center col-md-4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-clock-o fa-stack-1x"></i>
        </span>
        <br>
          {{ info.date | date:'h:mm:ss a'}}
      </div>

      <div ng-show="info.weather" class="text-center col-md-4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-sun-o fa-stack-1x"></i>
        </span>
        <br />
        {{ info.weather.main.temp }} °F
      </div>

    </div>
    {% endverbatim %}

    <div class="row">
      <div class="text-center col-md-12 touch-to-begin">
        <p p style="font-size:2vw">
          <!-- change this? do it via an angular controller? -->
          <a ng-href="/" > TOUCH TO BEGIN </a>
        </p>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'app/info/info.js' %}"></script>
</body>
</html>