html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: white;
}

a {
  color: white;
}

.person-container {
  padding-top: 40px;
}

.black-font {
  color: black;
}

.container, .container-fluid {
  height: 100%;
}

.full-height {
  height: 100%;
}

.tabs-column, .right-column {
  background-color: #4A9AAE;
}

.groups-header {
  background-color: #E7C024;
  height: 80px;
  border-bottom-color: #6F7174;
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.person-header {
  height: 80px;
}

.info-header {
  height: 80px;
  padding-bottom: 20px;
}

.person-fields {
  padding-top: 30px;
}