html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: white;
}

.active-tab {
  background-color: #92C3D0;
  color: black;
}

.active-tab > a > div > h2 {
  color: black;
}

.screensaver {
  background-color: #4A9AAE;
  height: 100%; width: 100%;
}

a {
  color: white;
}

.person-container {
  padding-top: 40px;
}

.black-font {
  color: black;
}

.container, .container-fluid {
  height: 100%;
}

.full-height {
  height: 100%;
}

.tabs-column, .right-column {
  background-color: #4A9AAE;
  position: relative;
}

.maps-row {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.groups-header {
  background-color: #E7C024;
  height: 80px;
  border-bottom-color: #6F7174;
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.person-header {
  height: 80px;
}

.info-header {
  height: 120px;
}

.fa-stack-1x {
  color: #4A9AAE;
}

.person-fields {
  padding-top: 30px;
}

.welcome {
  padding-top: 3%
}

.welcome-icons {
  padding-top: 3%;
}

.touch-to-begin {
  padding-top: 10%;
}
